doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Servicios
    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet", href="./css/fonts.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,200")
    link(rel="stylesheet", href="./css/styles.css")
body.MainContent
    include ../header/template.jade
    section(class="ServicesContainer")
        article(class="ServicesContainer-article")
            h2(class="ServicesContainer-subTitle") Servicios de asesoría en sistemas ASPEL
            ul(class="ServicesContainer-list")
                li(class="ServicesContainer-item") Instalación de sistemas aspel: SAE, COI, NOI, BANCO, CAJA, PROD, FACTUR@.
                li(class="ServicesContainer-item") Traducción de base de datos.
                li(class="ServicesContainer-item") Mantenimiento de base de datos.
                li(class="ServicesContainer-item") Asesoría en el uso de los sistemas.
        article(class="ServicesContainer-article")
            h2(class="ServicesContainer-subTitle") Infraestructura de red
            ul(class="ServicesContainer-list")
                li(class="ServicesContainer-item") Cableado estructurado ethernet.
                li(class="ServicesContainer-item") Venta e instalación de cámaras de seguridad tecnología: IP y CCTV.
                li(class="ServicesContainer-item") Switches de red con tecnologías POE (Power Over Ethernet).
                li(class="ServicesContainer-item") Conmutadores con tecnología IP.
                li(class="ServicesContainer-item") Virtuals Private Networks (VPN).
                li(class="ServicesContainer-item") Conexiones de escritorio remoto (Remote Desktop Envoirment).
                li(class="ServicesContainer-item") Controles de asistencia IP Biométricos, y por tarjetas.
                li(class="ServicesContainer-item") Seguridad en infraestructuras de red.
        article(class="ServicesContainer-article")
            h2(class="ServicesContainer-subTitle") Venta de equipo de cómputo
            ul(class="ServicesContainer-list")
                li(class="ServicesContainer-item") Computadoras ensambladas según la necesidad de nuestros clientes.
                li(class="ServicesContainer-item") Venta de servidores para PyMEs.
                li(class="ServicesContainer-item") Venta de impresoras y multifuncionales.
                li(class="ServicesContainer-item") Venta de consumibles para impresoras de diversas.
                li(class="ServicesContainer-item") Venta de periféricos para Desktops y Notebooks.
        article(class="ServicesContainer-article")
            h2(class="ServicesContainer-subTitle") Asesoría en sistemas basados en Windows
            ul(class="ServicesContainer-list")
                li(class="ServicesContainer-item") Instalación de sistemas operativos para terminales.
                li(class="ServicesContainer-item") Instalación de sistemas operativos para servidores.
                li(class="ServicesContainer-item") Re-instalación de sistemas operativos.
        article(class="ServicesContainer-article")
            h2(class="ServicesContainer-subTitle") Mantenimiento preventivo
            ul(class="ServicesContainer-list")
                li(class="ServicesContainer-item") Mantenimiento para Computadoras.
                li(class="ServicesContainer-item") Mantenimiento para Servidores.
                li(class="ServicesContainer-item") Mantenimiento para Impresoras.
                li(class="ServicesContainer-item") Mantenimiento para DVR’s.
    include ../footer/template.jade
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    script(src="js/jquery.mobile.custom.min.js")
    script(src="js/app.js")
