/* Color vars */
primaryColorBlue = #6179C7
frostTitleBackgroundColor = rgba(238,232,234,.85)
frostBackgroundColor = rgba(238,232,234,.66)
primaryGrayColor = #343434
/* Font colors*/

primaryFontLightColor = #fefefe
primaryFontDarkColor = #101010

/* Gradients */

//linear-gradient(to bottom,rgba(255,255,255,0.7) 0,rgba(255,255,255,0)
