.SectionDrescriptionContainer
    font-family 'Titillium Web'
    width 100%
    &-aboutUs
        font-size 2rem
        font-weight 200
        width 90%
        margin 1rem auto
        box-sizing border-box
    &-description
        font-weight 300
        box-sizing border-box
        width 90%
        padding 0 5%
        margin 1rem auto
