.SectionSliderContainer
    font-family 'Titillium Web'
    height 240x
    margin-top 60px
    overflow hidden
    width 100%
    &-img
        width 100%
        height 240px
        background url('../assets/wallhaven-120883.jpg')
        background-position center
        background-size cover
    &-sliderDescription
        color primaryFontDarkColor
        background frostBackgroundColor
        width 100%
        height 100%
        &-figure
            position relative
            margin 0 auto
            width 90%
            height 30%
        &-figureImg
            bottom 0
            left 0
            margin auto
            max-width 50%
            max-height 50%
            position absolute
            right 0
            top 0
    &-sliderDescriptionTitle
        width 90%
        margin 0 auto
        font-weight 300
        font-size 2rem
    &-sliderDescriptionMessage
        width 90%
        margin .5rem auto
