.HeaderContainer
    display flex
    position fixed
    top 0
    height 60px
    width 100%
    justify-content space-between
    flex-wrap wrap
    box-sizing border-box
    background frostBackgroundColor
    box-shadow 0 3px 15px rgba(0,0,0,.2)
    z-index 4
    border-bottom 1px solid rgba(44,44,44,.2)
    &-burgerButton
        color primaryFontDarkColor
        width 60px
        border none
        padding 0
        font-size 2rem
    &-imgContainer
        margin 0
        position relative
        width 50%
        height 60px
    &-logo
        top 0
        bottom 0
        left 0
        right 0
        position absolute
        max-width 80%
        max-height 70%
        margin auto
