header.HeaderContainer
    figure(class="HeaderContainer-imgContainer")
        img(class="HeaderContainer-logo", src="./assets/logo.png", alt="TPSMVD")
    button(class="HeaderContainer-burgerButton js-burgerButton")
        span(class="icon-menu")
    nav(class="NavigationContainer js-navigationContainer")
        ul(class="NavigationContainer-list")
            li(class="NavigationContainer-item")
                a(href="#", class="NavigationContainer-link") Inicio
            li(class="NavigationContainer-item")
                a(href="#", class="NavigationContainer-link") Contacto
            li(class="NavigationContainer-item")
                a(href="#", class="NavigationContainer-link") Ubicación
