.FooterContainer
    background primaryGrayColor
    color primaryFontLightColor
    font-family 'Titillium Web'
    display flex
    flex-wrap wrap
    overflow hidden
    &-article
        margin 0 auto
        padding 0 0 1rem 0
        width 90%
        &:first-child
            padding-top 1rem
    &-title
        display inline-block
        vertical-align middle
        margin 0
        font-size 1.4rem
        font-weight 200
    &-list
        margin 0
        padding 0
        padding-left 1.8rem
    &-link
        text-decoration none
        color primaryFontLightColor
    &-icon
        font-size 1.4rem
        display inline-block
        vertical-align middle
    &-number
        margin 0 0 0 1.7rem
