main(class="MapContainer", id="officeMap")
section(class="GeoNavigationContainer")
    h2(class="GeoNavigationContainer-title", data-route="title") Traza una ruta desde donde te encuentras hasta nuestras oficinas.
    button(class="GeoNavigationContainer-button", data-btnRoute="start") Trazar ruta
    ul(class="GeoNavigationContainer-list", data-routeList)
