section(class="SectionSliderContainer js-SectionSliderContaner")
    div(class="SectionSliderContainer-img js-SectionSliderContaner-img u-activeSlide")
        article(class="SectionSliderContainer-sliderDescription")
            figure(class="SectionSliderContainer-sliderDescription-figure")
                img(src="./assets/logo_aspel.png", alt="Aspel distribuidor", class="SectionSliderContainer-sliderDescription-figureImg")
            h2(class="SectionSliderContainer-sliderDescriptionTitle") Asesoria en sistemas Aspel.
            p(class="SectionSliderContainer-sliderDescriptionMessage") SAE, COI, NOI, PROD y BANCOS, instalación de sistemas.
    div(class="SectionSliderContainer-img js-SectionSliderContaner-img u-nextSlide100")
        article(class="SectionSliderContainer-sliderDescription")
            figure(class="SectionSliderContainer-sliderDescription-figure")
                img(src="./assets/ip-camera.png", alt="Cámara IP", class="SectionSliderContainer-sliderDescription-figureImg")
            h2(class="SectionSliderContainer-sliderDescriptionTitle") CCTV y video IP.
            p(class="SectionSliderContainer-sliderDescriptionMessage") Instalación y configuración de cámaras de vigilancia CCTV e IP.
    div(class="SectionSliderContainer-img js-SectionSliderContaner-img u-nextSlide200")
        article(class="SectionSliderContainer-sliderDescription")
            figure(class="SectionSliderContainer-sliderDescription-figure")
                img(src="./assets/router.png", alt="Routers Inalambricos", class="SectionSliderContainer-sliderDescription-figureImg")
            h2(class="SectionSliderContainer-sliderDescriptionTitle") Redes y routers de seguridad.
            p(class="SectionSliderContainer-sliderDescriptionMessage") Configuracion de tecnologias POE, conmutadores IP, diseño de redes estructuradas.
    div(class="SectionSliderContainer-img js-SectionSliderContaner-img u-nextSlide300")
        article(class="SectionSliderContainer-sliderDescription")
            figure(class="SectionSliderContainer-sliderDescription-figure")
                img(src="./assets/fingerprint.png", alt="Routers Inalambricos", class="SectionSliderContainer-sliderDescription-figureImg")
            h2(class="SectionSliderContainer-sliderDescriptionTitle") Sistemas biométricos.
            p(class="SectionSliderContainer-sliderDescriptionMessage") Venta a instalación de equipos para el control de asistencia en fábricas y oficinas.
section(class="ControlSlider")
    button(id="b1", class="ControlSlider-button js-ControlSilder-button u-activeButton")
    button(id="b2", class="ControlSlider-button js-ControlSilder-button")
    button(id="b3", class="ControlSlider-button js-ControlSilder-button")
    button(id="b4", class="ControlSlider-button js-ControlSilder-button")
