.NavigationContainer
    box-sizing border-box
    font-family 'Titillium Web'
    font-size 1.2rem
    font-weight bold
    height 0px
    width 100%
    background frostBackgroundColor
    z-index -1
    overflow hidden
    transition all .5s ease
    &-list
        margin 0
        padding 0
    &-item
        padding .5rem 2rem
        display block
        margin 0 auto
    &-link
        text-decoration none
        color primaryFontDarkColor

@media (min-width 900px)
    .NavigationContainer
        overflow hidden
        background rgba(255,255,255,0)
        height 60px
        margin 0
        padding 0
        width 35%
        z-index 5
        &-list
            width 80%
            height 100%
            display flex
            align-items center
            margin 0 auto
            padding 0
        &-item
            list-style-type none
            margin 0
            padding 0
            text-align center
            text-decoration none
            width 100%
            &:hover > .NavigationContainer-link
                text-shadow 0px 0px 30px rgba(203,35,39,.5)
        &-link
            text-shadow 0px 0px 10px rgba(14,14,14,.2)
            width 100%
            font-family 'Titillium Web'
            font-size 1.2rem
            text-decoration none
            color primaryFontDarkColor
            transition text-shadow .5s ease
