section(class="SectionDrescriptionContainer")
    h3(class="SectionDrescriptionContainer-aboutUs") Sobre nosotros
    p(class="SectionDrescriptionContainer-description") TODO PARA SU MICRO VALLE DORADO, S.A. DE C.V. es una consultoría de sistemas y redes, con sede en México, que le ofrece servicios integrales para su empresa o negocio, nos especializamos en la aplicación de soluciones tecnológicas para mejorar su productividad y reducir costos en su negocio.
    p(class="SectionDrescriptionContainer-description") Contamos con profesionales certificados para crear y desarrollar mejores y más rápidas soluciones en su organización, mediante el uso de aplicaciones tecnológicas confiables, eficientes y fáciles de usar. Nuestros ingenieros crearán o darán mantenimiento profesional a su sistema de redes. Conozca los productos y servicios que le ofrecemos.
