.u-menuOpen
    height 185px
    box-shadow 0 5px 10px rgba(5,5,5,.2)
.u-termsOpen
    transform translateX(0%)
    box-shadow 0 2px 10px rgba(5,5,5,.2)
.u-activeButton
    background logoRedColor
    border-right 1px solid logoRedColor
.u-activeSlide
    transform translateX(0%)
.u-beforeSlide100
    transform translateX(-100%)
.u-nextSlide100
    transform translateX(100%)
.u-beforeSlide200
    transform translateX(-200%)
.u-nextSlide200
    transform translateX(200%)
.u-beforeSlide300
    transform translateX(-300%)
.u-nextSlide300
    transform translateX(300%)
.u-errorButton
    background logoRedColor
    color primaryFontLightColor
