.u-menuOpen
    height 135px
    box-shadow 0 5px 10px rgba(5,5,5,.2)
.u-activeButton
    background logoRedColor
    border-right 1px solid logoRedColor
.u-activeSlide
    transform translate(0%)
.u-beforeSlide100
    transform translate(-100%)
.u-nextSlide100
    transform translate(100%)
.u-beforeSlide200
    transform translate(-200%)
.u-nextSlide200
    transform translate(200%)
.u-beforeSlide300
    transform translate(-300%)
.u-nextSlide300
    transform translate(300%)
