.GeoNavigationContainer
    background baackgroundDefaultColor
    width 90%
    margin 0 auto
    font-family 'Titillium Web'
    &-list
        overflow hidden
        display none
        padding 0
        padding-left 1rem
        width 90%
        margin 1rem auto
        transition all .5s ease
    &-item
        font-size 1rem
    &-button
        background primaryGrayLightColor
        font-size 1.4rem
        box-sizing border-box
        border none
        width 100%
        padding 1rem 1rem
        display block
        margin 0 auto
    &-title
        margin 1rem 0
        font-weight normal
        font-size 1.1rem
