footer(class="FooterContainer")
    article(class="FooterContainer-article")
        span(class="FooterContainer-icon icon-link")
        h4(class="FooterContainer-title") Enlaces
        ul(class="FooterContainer-list")
            li(class="FooterContainer-listItem")
                a(href="#", class="FooterContainer-link") Facturación
            li(class="FooterContainer-listItem")
                a(href="#", class="FooterContainer-link") Servicios
            li(class="FooterContainer-listItem")
                a(href="#", class="FooterContainer-link") Ubicación
            li(class="FooterContainer-listItem")
                a(href="#", class="FooterContainer-link") Aviso de privacidad
    article(class="FooterContainer-article")
        span(class="FooterContainer-icon icon-room")
        h4(class="FooterContainer-title") Direccion
        p(class="FooterContainer-addressContainer") Isla Margarita 17. Col. Prado Vallejo, Tlalnepantla de baz. Estado de México. C.P. 54170
        span(class="FooterContainer-icon icon-call")
        h4(class="FooterContainer-title") Llamanos
        p(class="FooterContainer-number") 53 67 54 62
        p(class="FooterContainer-number") 52 67 26 03
        p(class="FooterContainer-number") 044 55 2500 8419
    arcticle(class="FooterContainer-article")
        span(class="FooterContainer-icon")
            h4(class="FooterContainer-title") Acerca de esta página
        a(href="#", class="FooterContainer-linkAboutUs")
            span(class="FooterContainer-aboutUs")
