section(class="PrivacyTermsContainer", data-terms="container")
    article(class="PrivacyTermsContainer-article", data-terms="contentContainer")
        button(class="PrivacyTermsContainer-button", data-terms="closeButton") 
            span(class="icon-close")
        div(class="", data-terms="loader")
