section(class="PrivacyTermsContainer", data-terms="container")
    article(class="PrivacyTermsContainer-article", data-terms="contentContainer")
        button(class="PrivacyTermsContainer-button", data-terms="closeButton") 
            span(class="icon-close")
        div(class="", data-terms="loader")
        template(id="template--document")
            h2(class="PrivacyTermsContainer-title", data-terms="title")
            p(class="PrivacyTermsContainer-paragraphDocument", data-terms="header")
            ul(class="PrivacyTermsContainer-list", data-terms="listData")
                li(class="PrivacyTermsContainer-item", data-terms="itemData")
            p(class="PrivacyTermsContainer-paragraphDocument", data-terms="use")
            ul(class="PrivacyTermsContainer-list", data-terms="listUses")
                li(classList="PrivacyTermsContainer-list", data-terms="itemUses")
            p(class="PrivacyTermsContainer-paragraphDocument", data-terms="content")
            p(class="PrivacyTermsContainer-paragraphDocument", data-terms="footer")
